---
layout: default
title: Home
---
<div id="index">

  <div class="main-cover-title">
    <div>
      <img src="{{ site.baseurl }}/public/images/logo_small.png" width="150">
      <h3>Bajra Technologies</h3>
      <h1>Bajra Technologies Blog</h1>
      <p>An Exposure to Bajra Family</p>
    </div>
  </div>

  {% if paginator.page == 1 %}
  <div class="main-heading">
    Recent Posts
  </div>
  {% endif %}

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}

  <div class="card">
    <div class="profile">
      <img src="{{site.baseurl}}/public/images/author/{{post.nickname}}.jpg">
      <div class="description">
        <p class="name">{{post.author}}</p>
        <p>{{post.date | date_to_string}}</p>
      </div>
      <div class="clear"></div>
    </div>
    {% if post.coverimg %}
    <div class="cover-img">
      <a href="{{ post.url }}"><img  src="{{site.baseurl}}/public/images/posts/{{post.coverimg}}.jpg"/></a>
    </div>
    {% endif %}
    <a href="{{ post.url }}" class="heading">{% if post.bajra_weekly %} Bajra Weekly {% else %} Blog {% endif %} #{{ post.number }}: {{ post.title }}<br/></a>

    <p class="tag">
      <i class="fa fa-tags fa-flip-horizontal"></i>
      {% if post.tags %}
      {% for tag in post.tags %}
      <a href="{{site.baseurl}}/tags/#{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>
  {% endfor %}

  <div class="tagcloud">
    <h1 class="main-heading">Popular Tags</h1>
    <ul>
      {% capture tags %}
      {% for tag in site.tags %}
      {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
      {% endfor %}
      {% endcapture %}
      {% assign sortedtags = tags | split:' ' | sort %}
      {% assign counter = 0 %}
      {% for tag in sortedtags reversed %}
      {% assign tagitems = tag | split: '#' %}
      <li><a href="/tags/#{{ tagitems[1] }}">{{ tagitems[1] }} [{{ tagitems[2] }}]</a></li>
      {% assign counter=counter | plus:1 %}
      {% if counter >= 10 %}
      {% break %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
  </div>

  <div class="footer">
    <span>Bajra Technologies &copy; 2016</span>
  </div>
</div>
