---
layout: default
title: Home
---
<div id="index">
  <div class="title">
    <img src="{{ site.baseurl }}/public/images/logo.png">
  </div>

  <div class="recent_posts">
    <h1>Recent Posts</h1>
  </div>
  {% for post in site.posts %}
  <a href="{{ post.url }}">
    <div class="list">
      Bajra Weekly #{{ post.number }}: {{ post.title }}<br/>
      <p>
        {{ post.date | date_to_string }}
        &nbsp; &nbsp;
        {% if post.author %}
        <i class="fa fa-user"></i> {{post.author}}
        {% endif %}
      </p>

      <p class="tag">
        <i class="fa fa-tags fa-flip-horizontal"></i> 
        {% if post.tags %}
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </p>
    </div>
  </a>
  {% endfor %}
</ul>
</div>

<div class="footer">
  <span>Bajra Technologies &copy; 2016</span>
</div>
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->

