#index .title{
	background-color: #BE273A;
	text-align: center;
}
#index .title img{
	display: inline-block;
	margin: 0px;
}

.footer{
	margin-top: 20px;
  	border-top: 1px solid #eee;
}

.footer span{
	font-size: 14px;
    padding-top: 10px;
    color: #777;
}

.share-author{
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}

.share-author .pagination{
	margin: 25px 0 0 0;
}

.share{
	float:left;
}

.author{
	margin-top: 20px;
	font-size: 16px;
}

.author div{
	float: right;
}

.author .title {
	font-weight: bold;
}

.author .name {
	color: #888;
}
.author img{
	width: 48px;
	height:48px;
	margin: 0;
	margin-right: 10px;
}

.clear{
	clear: both;
}

.fb-share-button span{
	vertical-align: initial !important;
}

.post-date div{
	float: right;
}

.post-date a{
	font-size: 14px;
	color: #aaa;
	margin-right: 5px;
}

.post-date a:hover{
	color: #BE273A;
	text-decoration: none;
}

.list{
	background-color: #eee;
	padding: 15px;
	margin: 5px;
}

.list:hover{
	background-color: #ddd;
}

.list p{
	font-size: 14px;
	font-weight: 200;
	margin: 0;
	color: #888;
}

#index a, #tag_page a, #archive a{
	text-decoration: none;
}

#index .tag a, #archive .tag a{
	text-decoration: none;
	color: #888;
}

#index a:hover, #archive a:hover, #tag_page a:hover{
	color: #BE273A;
}

#index span:hover, #archive span:hover{
	color: #888;
}

.justify{
	text-align: justify;
}

