---
layout: default
---
<div id="tag_page">
<h2><i class="fa fa-tags fa-flip-horizontal"></i> {{ page.tag }}</h2>

{% for post in page.posts %}
<a href="{{ post.url }}">
	<div class="list">
		{{ post.title }} <br/>
		<p>
			{{ post.date | date_to_string }} 
		</p>

		<p class="tag">
			Tags: 
			{% if post.tags %}
			{% for tag in post.tags %}
			{{ tag }}
			{% endfor %}
			{% endif %}
		</p>
		<p>
			{% if post.author %}
			Author: {{post.author}}
			{% endif %}
		</p>
	</div>
</a>
{% endfor %}
</ul>
</div>
<!-- <div id="tag-cloud">
  {{ site | tag_cloud }}
</div> -->