---
layout: default
---

<div id="tag_page">
	<h2><i class="fa fa-tags fa-flip-horizontal"></i> {{ page.tag }}</h2>

	{% for post in page.posts %}
    <div class="card">
      <div class="profile">
        <img src="{{site.baseurl}}/public/images/author/{{post.nickname}}.jpg">
        <div class="description">
          <p class="name">{{post.author}}</p>
           <p>{{post.date | date_to_string}}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% if post.coverimg %}
      <div class="cover-img">
        <img  src="{{site.baseurl}}/public/images/posts/{{post.coverimg}}.jpg"/> 
      </div>
      {% endif %}
      <a href="{{ post.url }}" class="heading">Bajra Weekly #{{ post.number }}: {{ post.title }}<br/></a>

      <p class="tag">
        <i class="fa fa-tags fa-flip-horizontal"></i> 
        {% if post.tags %}
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </p>
    </div>
  {% endfor %}

</ul>
</div>
<!-- <div id="tag-cloud">
  {{ site | tag_cloud }}
</div> -->